[Unit]
Description=AIO auto-update script and kernel
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aio --auto-update
StandardOutput=journal
StandardError=journal
SyslogIdentifier=aio-update
